<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局懒加载 -->
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	<typeAliases>
		<!-- 给实体类起别名 -->
		<package name="com.im.pojo"/>
	</typeAliases>
</configuration>        